# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

pkg/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_Store

workspaces/betandr/bin
workspaces/betandr/src/github.com
workspaces/betandr/src/gopl.io
workspaces/betandr/src/golang.org

workspaces/garymacindoe/bin/*
!workspaces/garymacindoe/bin/.keep
workspaces/garymacindoe/src/*
!workspaces/garymacindoe/src/garymacindoe.co.uk
